/*-----------------------------------*\
 * #REUSED STYLE
\*-----------------------------------*/

.projectnew .container {
  max-width: 100%;
  padding-inline: 10%;
}

.projectnew .section {
  padding-block: 100px;
}

.projectnew-cardpn:is(:hover, :focus) {
  right: 20px;
  opacity: 1;
}

.cardpn-content {
  padding: 24px 15px 0;
  text-align: center;
}

.projectnew-cardpn .cardpn-title {
  margin-bottom: 12px;
}

.projectnew-cardpn .cardpn-title > a {
  color: inherit;
  transition: var(--transition-1);
}

.projectnew-cardpn .cardpn-title > a:is(:hover, :focus) {
  color: var(--bittersweet);
}

.projectnew-listpn {
  display: grid;
  gap: 50px 25px;
  padding-top: 50px;
}

/* MEDIA */

@media (min-width: 575px) {
  .projectnew .container {
    padding-inline: 0px;
    max-width: 650px;
    width: 100%;
    margin-inline: auto;
  }

  .projectnew-listpn {
    grid-template-columns: 1fr 1fr;
  }
}
@media (min-width: 768px) {
  .projectnew .container {
    max-width: 720px;
  }
}
@media (min-width: 992px) {
  .projectnew .container {
    max-width: 96%;
  }
  .projectnew-listpn {
    grid-template-columns: repeat(4, 1fr);
  }
}
@media (min-width: 1200px) {
  /**
     * REUSED STYLE
     */

  .projectnew .container {
    max-width: 90%;
  }

  .projectnew-listpn {
    grid-template-columns: repeat(4, 1fr);
  }
}
